
@media (min-width: 768px) {
    .flower {
        width: 591px;
        height: 655px;
    }
}

@media (max-width: 767.98px) {
    .flower {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .form-nav-link {
        margin-left: -7px;
    }
}

.parrallax-content{
    position: relative;
    overflow: hidden;
    height: 90vh;
    -webkit-background-size: cover;
    background-size: auto 95%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom center;
}
.parrallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.parrallax:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: -1;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 120% auto;
}

.background_1 {
    background-image: url('../img/background_1.jpg');
}

.background_2 {
    background-image: url('../img/background_2.jpg');
}

#map {
    width: 100%;
    height: 500px;
}


.bg-primary {
    background-color: #163e3a !important;
}

.btn-primary {
    background-color: #163e3a !important;
    border: 0px;
}